extends base

block content
    p Ola #{firstName},
    p Você esqueceu sua senha? Não tem problema 👌👌!
    p Resetamos sua senha. Utilize a que se encontra abaixo para redefinir uma nova. Lembre-se que você tem 10 minutos. 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(target='_blank') #{tempPassword}
    p - TucDev